<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule ^www.harmonyfamilyservices.com/~meli7490/harmony - [L] 
   
   www.harmonyfamilyservices.org/~meli7490/harmony/
   RewriteCond %{HTTP_HOST} ^melissarobillard.com$ [NC]
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>