AddHandler application/x-httpd-php5 .html

<FilesMatch "^main$">
    SetHandler application/x-httpd-php5
</FilesMatch>

<FilesMatch "^accountLoggin$">
    SetHandler application/x-httpd-php5
</FilesMatch>

<FilesMatch "^content$">
    SetHandler application/x-httpd-php5
</FilesMatch>

<Files ".ht*">
deny from all
</Files>